body {
    background-color: #254558;
    color: #B5C775;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 25px 0;
    margin-bottom: auto;
    background-color: #2b2b3a;
}

h1 {
    padding: 5px;
    margin: auto;
    font-size: 1.5vw;
    font-style: normal;
    font-family: serif;
    color: #786144;
    text-align: center;
}

.navigation-block {
    width: 20%;
    padding: 10px;
    border: 5px solid;
    text-align: center;
}

.navigation-block__top_light {
    margin: 25px auto 10px;
    border-color: #786144;
    border-radius: 15px;
}

.navigation-block__link {
    padding: 5px;

}

.navigation-block__link__light {
    color: #96B4C4;
}

.navigation-block__link__light:visited {
    color: #C7A29D;
}

.navigation-block__link__light:hover {
    color: red;
}

.resume {
    width: 50%;
    padding: 10px;
    border: 2px solid;
    box-sizing: border-box;

}

.active {
    background-color: red;
}

.resume__center_light{
    margin: 30px auto;
    border-radius: 10px;
    border-color: #61A8CE;
}

#resume {
    padding: 5px;
    margin: auto;
    font-size: 150%;
    font-style: normal;
    font-family: serif;
    color: #61A8CE;
}

.resume__chapter {
    padding: 10px;
}

.resume__chapter__light {
    font-weight: normal;
    line-height: 125%;
    font-size: 125%;
    font-family: sans-serif;
    color: #96B4C4;
}

h2 {
    padding: 5px;
    margin: auto;
    font-size: 1.5vw;
    font-style: normal;
    font-family: serif;
    color: aqua;
    text-align: center;
}

h3 {
    padding: 5px;
    margin: auto;
    font-size: 115%;
    font-style: normal;
    font-family: serif;
    color: #DEF3FF;
    text-align: center;
}

.my-arts {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.my-arts__centered {
    margin: 15px auto;
}

.art_place_holder {
    display: none;
}

#my-art {
    padding: 5px;
    margin: auto;
    font-size: 150%;
    font-style: normal;
    font-family: serif;
    color: #DEF3FF;
}

code {
    font-family: "Courier New", "Courier", monospace;
}

pre {
    font-size: 150%;
}

.footer {
    padding: 5px;
    background-color: #2b2b3a;
    margin-top: auto;
}

#page-load {
    margin: 5px 10px 5px 90%;
}

blockquote {
    text-align: right;
}

.navigation-block__bottom_light {
    margin: 15px auto 25px;
    border-color: #786144;
    border-radius: 15px;
}


.images_gallery {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

.images_gallery__image {
    width: 400px;
    height: 400px;
    margin: 5px;
    border-radius: 25px;
    background-color: #485D7A;
    filter: drop-shadow(50px 50px 20px #485D7A);
}

.grid_table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}



#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2vw;
}
#grid > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .resume {
        width: 100%;
    }
    .images_gallery {
        flex-direction: column;
        align-items: center;
    }

    .images_gallery__image {
        width: 250px;
        height: 250px;
        border-radius: 15px;
        filter: drop-shadow(10px 10px 10px #485D7A);
    }

    blockquote {
        display: none;
    }

    .navigation-block {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    h1 {
        position: absolute;
        top: 20px;
        left: 45px;
        font-size: 125%;
    }

    .my-arts {
        display: none;
    }

    .art_place_holder {
        width: 250px;
        margin: auto;
        height: auto;
        display: inline-block;
    }

}

@media screen and (min-width: 450px) and (max-width: 1280px) {
    .resume {
        width: 80%;
    }
    .images_gallery {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .images_gallery__image {
        width: 250px;
        height: 250px;
        border-radius: 15px;
        filter: drop-shadow(10px 10px 10px #485D7A);
    }

    blockquote {
        display: none;
    }

    .navigation-block {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .navigation-block__bottom_light {
        font-size: 150%;
    }

    .navigation-block__top_light {
        font-size: 150%;
    }

    h1 {
        font-size: 175%;
    }

    .my-arts__centered {
        margin: 0;
    }

    .my-arts {
        width: auto;
    }

}